/*Format de l encapcalment i navegador-----------------
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

nav {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #290c91;
  padding: 15px 20px;
  display: block;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
  background-color: rgb(136, 158, 186);
}

nav ul li a:hover {
  background: #338aed;
  color: #000;
}

@media only screen and (max-width: 768px) {
  header nav ul li {
    display: block;
    margin-right: 0;
  }

  nav ul li a {
    text-align: center;
  }
}

header {
  background-color: rgba(35, 19, 105, 0.301);
  padding: 10px 20px;
  font-family: "Calibri", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-weight: bold;
  opacity: 1;
  font-size: x-large;
  display: block;
}

header h1 {
  position: relative;
  padding: 5px 3px;
  display: grid;
  place-content: center;
  color: #1d0477;
}

main {
  background-color: rgb(220, 235, 197);
  min-height: 100vh;
  font-family: "Calibri", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

em {
  color: #2e78bd;
}

h2 {
  padding-top: 10px;
  margin-left: 45px;
}

section {
  display: block;
  flex-direction: row;
  margin-left: 40px;
}

.text {
  margin: auto;
  margin-left: 5px;
  margin-right: 300px;
}

.map {
  /* text-align: center; */

  margin: auto;
  margin-top: 20px;
  margin-left: 100px;
  width: 550px;
  height: 500px;
  box-shadow: 5px 5px 5px #888;
}

button {
  display: block;
  text-align: center;
}

.coord {
  background: #e09ad6;
  color: #02330e;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 1000px;
}

/*==============================================*/

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 500px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  color: rgb(0, 16, 16);
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

form label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 150px;
  text-align: right;
}

form input,
form textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

form input:focus,
form form textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

form textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

form button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: 0.5em;
}
.cent {
  margin-left: 300px;
}

#mapa_taula{
  display: inline-block;
}

table {
 margin-top: 15px;
 margin-left: 50px;
  border: 2;
  border-color: #e00c0c;
}



